<h1>Nom da Berger!</h1>

<h2>Right off der grill!</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>{{burger_name}}
  <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
    {{#if devoured}}Get in the kitchen!{{else}}Nom Me!{{/if}}
  </button>

  <button class="delete-burger" data-id="{{id}}" data-createdAt="{{createdAt}}">DELETE!</button>
</li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Already nommed!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>{{burger_name}}
      <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Get in the kitchen!{{else}}Nom Me!{{/if}}
      </button>
      <button class="delete-burger" data-id="{{id}}">DELETE!</button>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Create da berger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burge">Berger Name:</label>
    <input type="text" id="new-burger-name" name="name">
  </div>

  <div class="form-group">
    <label for="new-devoured">Already Nommed?</label><br>
    <input type="radio" name="new-devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="new-devoured" value="0"> Ready fer nommin'!
  </div>

  <button type="submit">Add dis Berger</button>
</form>